*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
box-sizing:border-box;
    
}
#index.body{
 
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images\hat.jpg");
   background-attachment: fixed;
  
}
nav{
   background:pink;
   color:white;
   display:flex;
   justify-content: space-between;
   padding:8px 40px;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   z-index:1000;
}

 nav.brand img{
  border-radius: 50%;
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
    
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{ 
    display: inline-block;
    line-height: 80px;
 margin: 0 5px;
}

nav ul li a{
   
    color: white;
   
 
    font-size: 17px;
    text-transform: uppercase;
    border-radius:3px ;
    padding: 7px 13px;
    
}
nav ul li a:hover,
 nav ul li a.active{
    color: yellow;
 }
 .hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
 }
 .hero h1{
    font-size: 36px;
    margin-bottom: 10px;
 }
 .hero p{
    font-size: 18px;
    margin-bottom: 20px;
 }

 .hero-btn{
    display: inline-block;
    padding: 12px 24px;
    transition: 0.3s ;
    background: #f39c12;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
 }
.hero-btn:hover{
  background:blue;
  color:white;
}
footer{
   background: purple;
   color: white;
   text-align: center;
   padding: 15px;
   margin-top: auto;
   text-align: center;
   position: fixed;
}
@media(max-width:700px){
    .row{
        flex-flow:column;
    }
}

#aboutus{
    font-family: monospace;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.column{
    flex-basis: 31%;
    border-radius: 10px;
    background: lavender;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
}
.active h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}
.active p{
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:0;
}
footer{
    position: fixed;
    font-family: sans-serif;
    position: absolute;
    bottom:0;
    width: 100%;
    height:60px;
    color:black;
    text-align:center;
}
#ourwork{
    font-family: monospace;
}
.nav{
    height:80px;
    width: 100%;
}
div h2{
    text-align: center;
    font-family: fantasy;
}
div p{
    text-align: center;
    font-family: fantasy;
}
.column-1 img{
    border-radius:50%;
}
.column-2img{
        border-radius:50%;
}
.column-3 img{
    border-radius:50%;
}
.column-4 img{
    border-radius:50%;
}
.column-5 img{
    border-radius:50%;
}
#gallery{
div h1{
    text-align: left;
    font-family: fantasy;
}
div h2{
    margin-top: 8px;
    text-align: left;
}
div h3{
    text-align: center;
}
div row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
div column{
    flex-basis: 31%;
    border-radius: 10px;
    float: left;
    width: 33.3%;
    margin-bottom: justify-all;
    padding: 0 8px;
}
div column img{
    border-radius: 10px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width:800px) {
    div.column{
flex:50%;
max-width:50%;

    }
}
@media screen and (max-width:600px){
    flex:100%;
    max-width:100%;
}
#getinvolved{
    .body{
        background-image: url("images\hoodie.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    div form{
        display: block;
        text-align:center;
    }
    form{
        margin-top:50px;
        transition:all 4s ease-in-out;

    }
    .form-control{
        width:600px;
        background: transparent;
        border:none;
        outline:none;
        border-bottom: 1px solid gray;
        color:black;
        font-size: 18px;
        margin-bottom: 16px;
    }
    input{
        height:45px;
    }
}
#contactus 
.nav{
    height:80px;
    width: 100%;
}
    .body{
        background-image: url("images\t-shirt.jpg");
        background-size: cover;
        background-position: center;
    }
    .div h2{
        text-align:center;
        font-size:32px;
        line-height:10px;
        font-family: sans-serif;
    }
    .p{
        font-weight: 300;
        text-align: center;
        color:#fff;
        font-family:sans-serif;
    }
}